@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/home")
<div class="text-center" style="margin-top:20vh">
    <h1 style="font-size:200px; font:bold; line-height:0.8" >C I L I</h1>
    <span style="font-size:21px">COMMON INTERMEDIATE LANGUAGE INTERPRETER</span>
</div>
<div class="container text-center" style="margin-top:20vh; margin-bottom:5vh">
    <button type="button" class="btn btn-primary btn-lg bottom" style="background-color:#A00000; width:400px; max-width:90vw; border-style:none; border-radius:0px; font-size:32px">Try</button>
</div>




