<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="color:black">
        <div class="modal-content ciliModal">
            <div class="modal-header" style="background-color:#3B1255; border-style:none">
                <button type="button" class="close ciliCloseButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body" style="border-style: none">
                Are you sure?
            </div>
            <h4 class="text-center" id="renameErrorBox"></h4>
            <div class="modal-footer" style="background-color: #101010; border-style: none; padding: 0">
                <button type="button" class="btn ciliButton" id="deleteSubmitButton" style="font-size: 20px; width: 100%">Delete</button>
            </div>
        </div>
    </div>
</div>