<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="color:black">
        <div class="modal-content ciliModal">
            <div class="modal-header" style="background-color:#3B1255; border-style:none">
                <button type="button" class="close ciliCloseButton" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
            </div>
            <div class="modal-body" style="border-style:none">
                <div class="form-group">
                    <input id="signUpNameInput" type="text" class="form-control input-lg ciliInput" placeholder="Name">
                    <input id="signUpMailInput" type="text" class="form-control input-lg ciliInput" placeholder="Email">
                    <input id="signUpPasswordInput" type="password" class="form-control input-lg ciliInput" placeholder="Password">
                    <input id="signUpConfirmPasswordInput" type="password" class="form-control input-lg ciliInput" placeholder="Confirm password">
                </div>
            </div>
            <h4 class="text-center" id="signUpErrorBox">
            </h4>
            <div class="modal-footer" style="background-color:#101010; border-style:none; padding:0">
                <button type="button" id="signUpButton" class="btn ciliButton" style="font-size:20px; width:100%">Sign up</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/scripts/Cili/modal.signup.js")
