@model List<CilPlayground.Models.InstructionViewModel>
@{
    ViewBag.Title = "Istructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .instructionRow{
        margin: 0;
        margin-bottom:8px;
    }
    .instructionCol{
        padding:15px;
    }

    .buttonCol{
        padding:0;
    }

    .supported{
        background-color:#005000;
    }

    .unsupported{
        background-color:#500000;
    }
</style>


<div class="container body-content" style="padding:20px; background-color:#303030; margin-top:40px" >
    <h2>Istructions</h2>
    <h5>This is a list of the instructions of the Common Intermediate Language. The green color indicates the instructions that are supported.</h5>
    <div class="row" id="tableHeader">
        <div class="col-md-3"><h4>Instruction</h4></div>
        <div class="col-md-9"><h4>Description</h4></div>
    </div>
    @for (int i = 0; i < Model.Count; i++)
    {
        string sup = "unsupported";
            if (Model[i].IsSupported)
            {
                sup = "supported";
            }
        
        <div class="row instructionRow @sup" data-id="@Model[i].Id">          
            <div class="col-md-3 instructionCol Name">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@Model[i].Name</div>       
            </div>
            <div class="col-md-9 instructionCol Description">
                <div style="min-width:100%; border-style:none; background-color:inherit;">@Model[i].Description</div>
            </div>
        </div>
    }

</div>